<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.manger.mapper.EmpMapper">
    <update id="update">
        update emp
        <set>
            <if test="username!=null and username!=''">
                username = #{username},
            </if>
            <if test="password !=null and password!=''">
                password=#{password},
            </if>
            <if test="name !=null and name !=''">
                name = #{name},
            </if>
            <if test="gender!=null">gender=#{gender},</if>
            <if test="phone !=null and phone !=''">phone =#{phone},</if>
            <if test="job!=null">job=#{job},</if>
            <if test="salary!=null">salary=#{salary},</if>
            <if test="image!=null and image !=''">image =#{image},</if>
            <if test="entryDate !=null">entry_date=#{entryDate},</if>
            <if test="deptId!=null">dept_id=#{deptId},</if>
            <if test="updateTime !=null">update_time=#{updateTime}</if>
        </set>
        where id =#{id}
    </update>
    <delete id="deleteBatch">
        delete from emp where id in
                        <foreach collection="ids" separator="," item="id" open="(" close=")">
                        #{id}
                        </foreach>
    </delete>
    <select id="page" resultType="com.itheima.manger.entity.Emp">
        select e.*,d.name deptName from emp e left join dept d on e.dept_id=d.id
        <where>
        <if test="name!=null  and name !=''">
            e.name like concat('%',#{name},'%')
        </if>
        <if test="gender!=null">
            and e.gender =#{gender}
        </if>
        <if test="begin!=null and end !=null">
            and e.entry_date between #{begin} and #{end}
        </if>
        </where>
        order by e.update_time desc
    </select>
    <resultMap id="empresult" type="com.itheima.manger.entity.Emp">
        <!-- 主表 emp -->
        <id column="id" property="id"/>

        <!-- 从表 emp_expr 映射到 exprList -->
        <collection property="exprList" ofType="com.itheima.manger.entity.EmpExpr">
            <id     property="id"      column="expr_id"/>
            <result property="empId"   column="expr_emp_id"/>
            <result property="begin"   column="expr_begin"/>
            <result property="end"     column="expr_end"/>
            <result property="company" column="expr_company"/>
            <result property="job"     column="expr_job"/>
        </collection>
    </resultMap>

    <select id="getbyid" resultMap="empresult">
        select
            -- emp 的字段，照旧
            e.id,
            e.username,
            e.password,
            e.name,
            e.gender,
            e.phone,
            e.job,
            e.salary,
            e.image,
            e.entry_date,
            e.dept_id,
            e.create_time,
            e.update_time,

            -- 这里是关键：给 emp_expr 的列起“新名字”
            ee.id      as expr_id,
            ee.emp_id  as expr_emp_id,
            ee.begin   as expr_begin,
            ee.end     as expr_end,
            ee.company as expr_company,
            ee.job     as expr_job

        from emp e
                 left join emp_expr ee on e.id = ee.emp_id
        where e.id = #{id}
    </select>
    <select id="listForClazz" resultType="com.itheima.manger.entity.Emp">
        select id, name
        from emp
        order by id
    </select>
    <select id="Getcount" resultType="com.itheima.manger.entity.Empre">
        select
            case
                when gender = 1 then '男性员工'
                when gender = 2 then '女性员工'
        end as name,
            count(*) as value
        from emp
        group by gender
    </select>
    <select id="Getjobcount" resultType="com.itheima.manger.entity.Empre">
        select case
            when job = 1 then  '班主任'
            when job =2 then '讲师'
            when job =3 then '学工主管'
            when job=4 then '教研主管'
            when job=5 then '咨询师'
        end as name,
            count(*) as value
         from emp
        group by job
        order by value
    </select>
    <select id="emplogin" resultType="com.itheima.manger.entity.LoginQuery">
        select id,name,username from emp where username=#{username} and password =#{password}
    </select>


</mapper>